.footer-section.startup-footer .footer-area-content .default-btn {
    margin-top: 0;
  }

/*================================================
Footer Section CSS
=================================================*/
.footer-section {
    position: relative;
    z-index: 1;
    padding: 30px 0;
  }
  
  .footer-section::before {
    content: "";
    background-color: #f1f1f1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
  }
  
  .footer-section.marketing-footer {
    background-color: #391343;
    background-image: unset;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  
  .footer-section.marketing-footer::before {
    display: none;
  }
  
  .footer-section.marketing-footer::after {
    content: "";
    position: absolute;
    top: -80px;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/shape/8.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
  }
  
  .footer-section.marketing-footer .footer-area-content p {
    color: #d8c7e2;
  }
  
  .footer-section.marketing-footer .single-footer-widget h3 {
    color: #ffffff;
  }
  
  .footer-section.marketing-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a {
    color: #d8c7e2;
    position: relative;
    padding-left: 40px;
  }
  
  .footer-section.marketing-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a
    i {
    position: absolute;
    left: 0;
    top: 0;
    color: #d8c7e2;
  }
  
  .footer-section.marketing-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a:hover {
    color: #00227f;
    letter-spacing: normal;
  }
  
  .footer-section.marketing-footer .single-footer-widget .footer-quick-links a {
    color: #d8c7e2;
  }
  
  .footer-section.marketing-footer
    .single-footer-widget
    .footer-quick-links
    a:hover {
    color: #00227f;
    letter-spacing: 1px;
  }
  
  .footer-section.marketing-footer
    .single-footer-widget
    .social-list
    li.list-heading {
    color: #d8c7e2;
  }
  
  .footer-section.marketing-footer .single-footer-widget .social-list li a {
    border: 1px solid #d8c7e2;
    color: #d8c7e2;
  }
  
  .footer-section.marketing-footer .single-footer-widget .social-list li a:hover {
    background-color: #00227f;
    border: 1px solid #00227f;
    color: #ffffff;
  }
  
  .footer-section.marketing-footer .copyright-area p {
    color: #d8c7e2;
  }
  
  .footer-section.marketing-footer .copyright-area p a {
    color: #d8c7e2;
  }
  
  .footer-section.marketing-footer .copyright-area ul li a {
    color: #d8c7e2;
  }
  
  .footer-section.startup-footer {
    background-image: unset;
    position: relative;
  }
  
  .footer-section.startup-footer::before {
    display: none;
  }
  
  .footer-section.startup-footer .footer-area-content p {
    color: #827f8d;
  }
  
  .footer-section.startup-footer .footer-area-content .default-btn {
    margin-top: 30px;
    background-color: #002c8c;
    color: #ffffff;
    border: 1px solid #002c8c;
  }
  
  .footer-section.startup-footer .footer-area-content .default-btn:hover {
    border: 1px solid #002c8c;
    color: #002c8c;
    background-color: transparent;
  }
  
  .footer-section.startup-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a {
    color: #827f8d;
    position: relative;
    padding-left: 40px;
  }
  
  .footer-section.startup-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a
    i {
    position: absolute;
    left: 0;
    top: 0;
    color: #827f8d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .footer-section.startup-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a:hover {
    color: #00227f;
    letter-spacing: normal;
  }
  
  .footer-section.startup-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a:hover
    i {
    color: #ffffff;
  }
  
  .footer-section.startup-footer .single-footer-widget .footer-quick-links a {
    color: #827f8d;
  }
  
  .footer-section.startup-footer
    .single-footer-widget
    .footer-quick-links
    a:hover {
    color: #00227f;
    letter-spacing: 1px;
  }
  
  .footer-section.startup-footer
    .single-footer-widget
    .social-list
    li.list-heading {
    color: #827f8d;
  }
  
  .footer-section.startup-footer .single-footer-widget .social-list li a {
    border: 1px solid #827f8d;
    color: #827f8d;
  }
  
  .footer-section.startup-footer .single-footer-widget .social-list li a:hover {
    background-color: #00227f;
    border: 1px solid #00227f;
    color: #ffffff;
  }
  
  .footer-section.startup-footer .shape-1 {
    position: absolute;
    bottom: 90px;
    right: 40px;
    z-index: -1;
    opacity: 0.5;
  }
  
  .footer-section.startup-footer .shape-2 {
    position: absolute;
    top: 45px;
    right: 30px;
    z-index: -1;
    opacity: 0.2;
  }
  
  .footer-section.startup-footer .shape-3 {
    position: absolute;
    top: 100px;
    left: 20px;
    z-index: -1;
    opacity: 0.5;
  }
  
  .footer-section.startup-footer .shape-4 {
    position: absolute;
    bottom: 70px;
    left: 50px;
    z-index: -1;
    opacity: 0.5;
  }
  
  .footer-section.seo-footer {
    background-image: unset;
  }
  
  .footer-section.seo-footer .footer-area-content p {
    color: #827f8d;
  }
  
  .footer-section.seo-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a {
    color: #827f8d;
  }
  
  .footer-section.seo-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a
    i {
    color: #827f8d;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .footer-section.seo-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a:hover {
    color: #00227f;
    letter-spacing: normal;
  }
  
  .footer-section.seo-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a:hover
    i {
    color: #ffffff;
  }
  
  .footer-section.seo-footer .single-footer-widget .footer-quick-links a {
    color: #827f8d !important;
  }
  
  .footer-section.seo-footer .single-footer-widget .footer-quick-links a:hover {
    color: #00227f;
    letter-spacing: 1px;
  }
  
  .footer-section.freelancer-footer {
    background-image: unset;
    background-color: #141016;
  }
  
  .footer-section.freelancer-footer::before {
    display: none;
  }
  
  .footer-section.freelancer-footer .footer-area-content p {
    color: #d8c7e2;
    margin-bottom: 28px;
  }
  
  .footer-section.freelancer-footer .footer-area-content .default-btn {
    background-color: #00227f;
    color: #ffffff;
  }
  
  .footer-section.freelancer-footer .footer-area-content .default-btn:hover {
    background-color: #ffffff;
    color: #00227f;
    border-color: #ffffff;
  }
  
  .footer-section.freelancer-footer .single-footer-widget h3 {
    color: #ffffff;
  }
  
  .footer-section.freelancer-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a {
    color: #d8c7e2;
  }
  
  .footer-section.freelancer-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a
    i {
    color: #d8c7e2;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .footer-section.freelancer-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a:hover {
    color: #00227f;
    letter-spacing: normal;
  }
  
  .footer-section.freelancer-footer
    .single-footer-widget
    .footer-quick-links.address-link
    a:hover
    i {
    color: #ffffff;
  }
  
  .footer-section.freelancer-footer .single-footer-widget .footer-quick-links a {
    color: #d8c7e2 !important;
  }
  
  .footer-section.freelancer-footer
    .single-footer-widget
    .footer-quick-links
    a:hover {
    color: #00227f;
    letter-spacing: 1px;
  }
  
  .footer-section.freelancer-footer .copyright-area p {
    color: #ffffff;
  }
  
  .footer-section.freelancer-footer .copyright-area p a {
    color: #ffffff;
  }
  
  .footer-section.freelancer-footer .copyright-area ul li a {
    color: #ffffff;
  }
  
  .modal-dialog {
    margin: auto;
    max-width: 600px;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .modal-dialog .startup-form {
    max-width: 550px;
    position: relative;
    margin: auto;
  }
  
  .modal-dialog .startup-form .input-newsletter {
    display: block;
    width: 100%;
    background-color: #f1f1f1;
    border: none;
    height: 64px;
    padding-left: 25px;
    border-radius: 4px;
    padding-top: 0;
    outline: 0;
    color: #343b4e;
  }
  
  .modal-dialog .startup-form .input-newsletter::-webkit-input-placeholder {
    color: #737b9a;
  }
  
  .modal-dialog .startup-form .input-newsletter:-ms-input-placeholder {
    color: #737b9a;
  }
  
  .modal-dialog .startup-form .input-newsletter::-ms-input-placeholder {
    color: #737b9a;
  }
  
  .modal-dialog .startup-form .input-newsletter::placeholder {
    color: #737b9a;
  }
  
  .modal-dialog .startup-form button {
    position: absolute;
    right: 7px;
    top: 7px;
    background-color: #00227f;
    color: #ffffff;
    border: none;
    padding: 14px 30px;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 400;
    font-size: 15px;
    font-weight: 400;
  }
  
  .modal-dialog .startup-form button:hover {
    background-color: #343b4e;
    color: #ffffff;
  }
  
  .modal-dialog .startup-form button i {
    margin-left: 5px;
  }
  
  .modal-dialog .modal-header .close {
    padding: 0;
    margin: 0;
  }
  
  .modal-dialog .modal-body {
    padding: 50px 30px;
  }
  
  .footer-area-content p {
    color: #737b9a;
    font-weight: 400;
    margin: 30px 0 0 0;
  }
  
  .footer-right-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 0;
  }
  .footer-right-content li {
    text-decoration: none;
    list-style: none;
    padding-left: 20px;
    margin-bottom: 0px;
    font-weight: 500;
    color: #737b9a;
  }
  
  /* .footer-right-content li::after{
    content:" | ";
  } */
  
  .single-footer-widget {
    align-self: center;
  }
  
  .single-footer-widget h3 {
    color: #3e435e;
    position: relative;
    font-size: 20px;
  }
  
  .single-footer-widget .footer-quick-links {
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .single-footer-widget .footer-quick-links li {
    list-style-type: none;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 15px;
  }
  
  .single-footer-widget .footer-quick-links li:last-child {
    padding-bottom: 0;
  }
  
  .single-footer-widget .footer-quick-links a {
    color: #737b9a;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .single-footer-widget .footer-quick-links a:hover {
    color: #00227f;
    letter-spacing: 1px;
  }
  
  .single-footer-widget .footer-quick-links.address-link li {
    padding-bottom: 0;
  }
  
  .single-footer-widget .footer-quick-links.address-link a {
    color: #737b9a;
    position: relative;
    padding-left: 40px;
    display: block;
    margin-bottom: 20px;
  }
  
  .single-footer-widget .footer-quick-links.address-link a i {
    position: absolute;
    left: 0;
    top: -3px;
    color: #737b9a;
    width: 30px;
    height: 30px;
    border: 1px solid #737b9a;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .single-footer-widget .footer-quick-links.address-link a:hover {
    color: #00227f;
    letter-spacing: normal;
  }
  
  .single-footer-widget .footer-quick-links.address-link a:hover i {
    color: #ffffff;
    background-color: #00227f;
    border-color: #00227f;
  }
  
  .single-footer-widget .social-list {
    position: relative;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 25px;
  }
  
  .single-footer-widget .social-list li {
    display: inline-block;
  }
  
  .single-footer-widget .social-list li.list-heading {
    color: #737b9a;
    margin-bottom: 0;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 400;
  }
  
  .single-footer-widget .social-list li a {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: transparent;
    border: 1px solid #737b9a;
    color: #737b9a;
    border-radius: 50%;
    margin: 0 2px;
    display: inline-block;
    text-align: center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition: 0.5s;
  }
  
  .single-footer-widget .social-list li a:hover {
    background-color: #00227f;
    border: 1px solid #00227f;
    color: #ffffff;
  }
  
  .copyright-area {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  
  .copyright-area p {
    color: #737b9a;
    font-weight: 500;
  }
  
  .copyright-area p a {
    color: #737b9a;
    display: inline-block;
    font-weight: 500;
  }
  
  .copyright-area p a:hover {
    color: #00227f;
  }
  
  .copyright-area ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    text-align: right;
  }
  
  .copyright-area ul li {
    display: inline-block;
    color: #737b9a;
    font-size: 15px;
    position: relative;
    font-weight: 500;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .copyright-area ul li a {
    display: inline-block;
    color: #737b9a;
  }
  
  .copyright-area ul li a:hover {
    color: #00227f;
  }
  
  .copyright-area ul li::before {
    content: "";
    position: absolute;
    top: 5px;
    right: -13px;
    width: 1px;
    height: 14px;
    background-color: #a0a0a0;
  }
  
  .copyright-area ul li:last-child {
    margin-right: 0;
  }
  
  .copyright-area ul li:last-child::before {
    display: none;
  }
  
  .copyright-area ul li:first-child {
    margin-left: 0;
  }
  
  @media (max-width:767px) {
    .footer-area-content{
      text-align: center;
    } 
    .img-footer{
      width: 55%;
    }   
  }