/*================================================
Navbar Area CSS
=================================================*/
.exto-responsive-nav {
  display: none;
}

.exto-nav {
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 0;
  padding-left: 0;
}

.exto-nav .navbar {
  padding-right: 0;
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0;
}

.exto-nav .navbar ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
}

.exto-nav .navbar .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

.exto-nav .navbar .navbar-nav .nav-item {
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 0;
  padding-right: 0;
}

.exto-nav .navbar .navbar-nav .nav-item a {
  font-size: 19px;
  font-weight: 600;
  color: #5b5b98;
  text-transform: capitalize;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.exto-nav .navbar .navbar-nav .nav-item a:hover,
.exto-nav .navbar .navbar-nav .nav-item a:focus,
.exto-nav .navbar .navbar-nav .nav-item a.active {
  color: #00227f;
}

.exto-nav .navbar .navbar-nav .nav-item a i {
  font-size: 16px;
  position: relative;
  top: 2px;
  margin-left: 1px;
}

.exto-nav .navbar .navbar-nav .nav-item:last-child a {
  margin-right: 0;
}

.exto-nav .navbar .navbar-nav .nav-item:first-child a {
  margin-left: 0;
}

.exto-nav .navbar .navbar-nav .nav-item:hover a,
.exto-nav .navbar .navbar-nav .nav-item:focus a,
.exto-nav .navbar .navbar-nav .nav-item.active a {
  color: #00227f;
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: absolute;
  border: none;
  top: 80px;
  left: 0;
  width: 230px;
  z-index: 99;
  display: block;
  opacity: 0;
  visibility: hidden;
  border-radius: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 20px;
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li {
  padding: 0;
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li a {
  text-transform: capitalize;
  padding: 8px 0;
  margin: 0;
  color: #00227f;
  font-size: 15px;
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:hover,
.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li a:focus,
.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li a.active {
  color: #00227f;
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
  left: -245px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu li a {
  color: #00227f;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: #00227f;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: -245px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: #00227f;
  text-transform: capitalize;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: #00227f;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: -245px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: #00227f;
  text-transform: capitalize;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  color: #00227f;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: 195px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: #00227f;
  text-transform: capitalize;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: 195px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: #00227f;
  text-transform: capitalize;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu {
  left: 195px;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a {
  color: #00227f;
  text-transform: capitalize;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:hover,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a:focus,
.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  a.active {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li.active
  a {
  filter: brightness(120%);
}

.exto-nav
  .navbar
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  .dropdown-menu
  li:hover
  .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li.active a {
  color: #00227f;
  filter: brightness(120%);
}

.exto-nav .navbar .navbar-nav .nav-item .dropdown-menu li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: -15px;
}

.exto-nav .navbar .navbar-nav .nav-item:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 100%;
}

.exto-nav .navbar .others-options {
  margin-left: 5px;
}

.exto-nav .navbar .others-options .language-list {
  display: inline-block;
}

.exto-nav .navbar .others-options .language-list .nice-select {
  background-color: transparent;
  border: none;
}

.exto-nav .navbar .others-options .language-list .nice-select span {
  font-size: 16px;
  color: #00227f;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 600;
}

.exto-nav .navbar .others-options .language-list .nice-select span:hover {
  filter: brightness(120%);
}

.exto-nav .navbar .others-options .language-list .nice-select::after {
  height: 9px;
  width: 9px;
  border-bottom: 3px solid #737b9a !important;
  border-right: 3px solid #737b9a !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.exto-nav .navbar .others-options .language-list .nice-select.open .list {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.exto-nav .navbar .others-options .language-list .nice-select .option.focus {
  color: #ffffff !important;
  background-color: #00227f !important;
}

.exto-nav .navbar .others-options .language-list .nice-select .option:hover {
  color: #ffffff;
  background-color: #00227f !important;
}

.exto-nav .navbar .others-options .language-list .nice-select:hover::after {
  border-bottom: 3px solid #00227f !important;
  border-right: 3px solid #00227f !important;
}

.exto-nav .navbar .others-options .language-list .nice-select:hover span {
  color: #00227f;
}

.exto-nav .navbar .others-options .saas-nav-btn {
  background-color: #00227f;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 4px;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 16px;
  font-weight: 600;
}

.exto-nav .navbar .others-options .saas-nav-btn i {
  font-size: 14px;
}

.exto-nav .navbar .others-options .saas-nav-btn:hover {
  background-color: transparent;
  color: #00227f !important;
  transition: 0.3s ease;
  border-color: #00227f;
}

.exto-nav .navbar .others-options.saas-option {
  margin: 0;
}

.exto-nav .navbar .others-options.saas-option .saas-nav-btn {
  background-color: transparent;
  border: 1px solid #00227f;
}

.exto-nav .navbar .others-options.saas-option .saas-nav-btn:hover {
  background-color: #00227f;
  color: #ffffff;
  border: 1px solid #00227f;
}

.exto-nav
  .navbar
  .others-options.startup-option
  .language-list
  .nice-select
  span {
  color: #5b5b98;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.exto-nav
  .navbar
  .others-options.startup-option
  .language-list
  .nice-select::after {
  border-bottom: 3px solid #5b5b98 !important;
  border-right: 3px solid #5b5b98 !important;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.exto-nav
  .navbar
  .others-options.startup-option
  .language-list
  .nice-select
  .option.focus {
  color: #ffffff !important;
  background-color: #00227f !important;
}

.exto-nav
  .navbar
  .others-options.startup-option
  .language-list
  .nice-select
  .option:hover {
  color: #ffffff;
  background-color: #00227f !important;
}

.exto-nav
  .navbar
  .others-options.startup-option
  .language-list
  .nice-select:hover::after {
  border-bottom: 3px solid #00227f !important;
  border-right: 3px solid #00227f !important;
}

.exto-nav
  .navbar
  .others-options.startup-option
  .language-list
  .nice-select:hover
  span {
  color: #00227f;
}

.exto-nav .navbar .others-options.startup-option .sidebar-menu {
  cursor: pointer;
  background-color: #002c8c;
  padding: 5px;
  display: inline-block;
  position: relative;
  top: 7px;
  margin-left: 10px;
}

.exto-nav .navbar .others-options.startup-option .sidebar-menu span {
  border-bottom: 1px solid #ffffff;
  display: block;
  padding-bottom: 5px;
  width: 20px;
}

.exto-nav
  .navbar
  .others-options.startup-option
  .sidebar-menu
  span:first-child {
  padding-bottom: 0;
}

.navbar-area {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  background: inherit;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);
}

.navbar-area.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: inherit;
  background-color: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);

  -webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.search-overlay {
  display: none;
}

.search-overlay.search-popup {
  position: absolute;
  top: 100%;
  width: 300px;
  right: 0;
  background: #ffffff;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
  margin-top: 25px;
}

.search-overlay.search-popup .search-form {
  position: relative;
}

.search-overlay.search-popup .search-form .search-input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: initial;
  border: 1px solid #eeeeee;
  color: #343b4e;
  outline: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 4px;
  padding-left: 10px;
}

.search-overlay.search-popup .search-form .search-input:focus {
  border-color: #00227f;
}

.search-overlay.search-popup .search-form .search-button {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  background: transparent;
  border: none;
  width: 50px;
  outline: 0;
  color: #737b9a;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0;
}

.search-overlay.search-popup .search-form .search-button:hover,
.search-overlay.search-popup .search-form .search-button:focus {
  color: #00227f;
}

@media only screen and (max-width: 991px) {
  .navbar-area {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .navbar-area.is-sticky {
    border-bottom: none;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .exto-responsive-nav {
    display: block;
  }
  .exto-responsive-nav .exto-responsive-menu {
    position: relative;
  }
  .exto-responsive-nav .exto-responsive-menu.mean-container .mean-nav ul {
    font-size: 14px;
    border-radius: 20px;
  }
  .exto-responsive-nav .exto-responsive-menu.mean-container .mean-nav ul li a {
    font-size: 15px;
  }
  .exto-responsive-nav
    .exto-responsive-menu.mean-container
    .mean-nav
    ul
    li
    a.active {
    color: #00227f;
  }
  .exto-responsive-nav
    .exto-responsive-menu.mean-container
    .mean-nav
    ul
    li
    li
    a {
    font-size: 15px;
  }
  .exto-responsive-nav .exto-responsive-menu.mean-container .navbar-nav {
    overflow-y: scroll;
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
  }
  .exto-responsive-nav .exto-responsive-menu.mean-container .others-options {
    display: none;
  }
  .exto-responsive-nav .mean-container a.meanmenu-reveal {
    color: #343b4e;
  }
  .exto-responsive-nav .mean-container a.meanmenu-reveal span {
    background: #343b4e;
  }
  .exto-responsive-nav .logo {
    position: relative;
    width: 50%;
    z-index: 999;
  }
  .exto-nav {
    display: none;
  }
}
/* .saas-home-area{
  background-image: url("../images/bg.png");
  background-repeat: no-repeat;
} */
@media only screen and (max-width: 767px) {
  .navbar-area {
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar-area-two {
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    background-color: #8a8a8a;
  }
  .navbar-area-two.is-sticky {
    background: #8a8a8a !important;
  }

  .exto-responsive-nav .exto-responsive-menu.mean-container .others-options {
    display: block;
  }
  .select-box {
    display: none;
  }
  .saas-nav-btn {
    font-size: .8rem;
    position: absolute;
    top: -2px;
    right: 46px;
    background-color: #00227f;
    display: inline-block;
    padding: 7px;
    border-radius: 4px;
    color: #ffffff;
  }
  .saas-nav-btn i {
    font-size: 12px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .saas-nav-btn {
    font-size: .8rem;
    position: absolute;
    top: 0px;
    right: 46px;
    background-color: #00227f;
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    color: #ffffff;
  }
  .navbar-area {
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
  }
  .navbar-area-two {
    -webkit-box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 7px 13px 0 rgba(0, 0, 0, 0.1);
    background-color: #8a8a8a;
  }
  .navbar-area-two.is-sticky {
    background: #8a8a8a !important;
  }
  .mean-container a.meanmenu-reveal {
    width: 35px;
    height: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    text-indent: -9999em;
    line-height: 22px;
    font-size: 1px;
    display: block;
    font-weight: 700;
    padding-top: 0;
  }
  .exto-responsive-nav .exto-responsive-menu.mean-container .others-options {
    display: block;
  }
  .select-box {
    display: none;
  }
  .saas-nav-btn {
    position: absolute;
    top: -2px;
    right: 46px;
    background-color: #00227f;
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: #ffffff;
  }
  .saas-nav-btn i {
    font-size: 12px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .saas-image img {
    left: -42px;
    width: 330px;
  }
  .saas-image img:last-child {
    left: 202px;
  }

  .exto-nav .navbar .navbar-nav .nav-item a {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .exto-nav .navbar .others-options .saas-nav-btn {
    padding: 10px 10px;
    font-size: 15px;
  }
  .features-section {
    padding-top: 0;
  }
  .navbar-area-two .exto-nav .navbar .others-options {
    margin-left: 0;
  }
  .navbar-area-two .exto-nav .navbar .navbar-nav .nav-item a {
    margin-left: 12px;
    margin-right: 12px;
  }
}

@media only screen and (min-width: 1300px) {
  .startup-home-area .startup-shape img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 850px;
  }
}

@media only screen and (min-width: 1800px) {
  .saas-home-area .saas-image img {
    left: 0;
    top: 0;
    width: unset;
  }
  .saas-home-area .circle-img {
    width: unset;
  }
  .saas-home-area .saas-image img:last-child {
    left: 300px;
    top: -95px;
  }
}

@media (max-width: 395px) {
  .logo img{
    width: 70%;
  }
}